* {
  color: #e6e6e6;
}
.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: #121212;
}

.home {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100vh; */
  flex-direction: row;
  /* padding: 50px; */
}
