* {
  color: #e6e6e6;
}
.App {
  text-align: center;
  min-height: 100vh;
  color: white;
  background-color: #121212 !important;
}

.home {
  height: 89vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px
}

.hackerrank {
  color: #f00
}

a{
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
}

.btn>a:hover{
  background-color: #e6e6e6;
  color: #121212;
  border: 1px solid #e6e6e6;
}

.page {
  /* overflow: hidden !important; */
  /* aspect-ratio: 1 / 1.300 !important; */
}

.react-pdf__Page__textContent {
  display: none !important;
}